In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [4]:
test.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [5]:
(train.shape, test.shape)

((891, 12), (418, 11))

In [6]:
women = train[train['Sex'] == 'female']['Survived']
men = train[train['Sex'] == 'male']['Survived']

In [7]:
survival_rate_of_women = (sum(women) / len(women)) * 100
survival_rate_of_men = (sum(men) / len(men)) * 100
(survival_rate_of_women, survival_rate_of_men)

(74.20382165605095, 18.890814558058924)

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
y = train['Survived']

In [10]:
features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X = pd.get_dummies(train[features])
X_test = pd.get_dummies(test[features])

In [11]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

In [12]:
output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived':predictions})

In [13]:
# output.to_csv('my_submissions.csv', index=False)